<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}Altel{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- TODO: Place favicon.ico and apple-touch-icons in the root directory -->
  {{ "app.min.css" | asset_url | stylesheet_tag }}
  {{ "modernizr.min.js" | asset_url | script_tag }}
  <!-- <script data-main="/public/scripts/app" src="/public/scripts/require.min.js"></script> -->
</head>
<body class="{% block body-class %}{% endblock %}">
  <!--[if lte IE 8]>
  <div class="browsehappy">
    <div class="browsehappy-body">
      <p>К сожалению Ваш браузер устарел.
      Чтобы использовать все возможности сайта, загрузите и установите один из этих браузеров:</p>
      <div id="browsers">
        <a class="column gutter" href="http://www.apple.com/safari/" target="_blank">
          {{ 'safari.png' | asset_url | image_tag }}
          <div>Safari</div>
        </a><a class="column gutter" href="http://www.google.com/chrome/" target="_blank">
          {{ 'chrome.png' | asset_url | image_tag }}
          <div>Chrome</div>
        </a><a class="column gutter" href="http://www.mozilla-europe.org/" target="_blank">
          {{ 'firefox.png' | asset_url | image_tag }}
          <div>Firefox</div>
        </a><a class="column gutter" href="http://www.opera.com/" target="_blank">
          {{ 'opera.png' | asset_url | image_tag }}
          <div>Opera</div>
        </a><a class="column gutter" href="http://http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">
          {{ 'ie.png' | asset_url | image_tag }}
          <div>Internet<br>Explorer</div>
        </a>
      </div>
    </div>
  </div>

  <![endif]-->


  <div class="modal-overlay"></div>
  {% block modal %}{% endblock %}
  {% include "support-modal" %}

  {% include "nav-drawer" %}

  <div class="adventure-time">
    <div class="sticky-wrap">
      <div class="container">
        {% include "navigation" %}
        {% block content %}{% endblock %}
      </div>
    </div>
    <div class="sticky-footer">
      <div class="container">
        {% include "footer" %}
      </div>
    </div>
  </div>

  {{ "jquery.min.js" | asset_url |script_tag }}
  {{ "bootstrap.min.js" | asset_url |script_tag }}
  {{ "simple.js" | asset_url |script_tag }}
  {% block js %}{% endblock %}
</body>
</html>
