<div id="{{ carousel-item-left.id }}" class="item {% if carousel-item-left.type == 'style-b' %}style-b{% endif %} {% if carousel-item-left.default %}active{% endif %} item-type-left">
  <a href="#">
  <div class="slide-visual">
    {{ 'base.jpg' | asset_url | image_tag }}
  </div>
  <div class="slide-product">
    {{ 'product.png' | asset_url | image_tag }}
  </div>
  <div class="slide-message slide-message--empty">
    <div class="slide-message-body">
      <div class="slide-heading">
        {{ 'message.png' | asset_url | image_tag }}
      </div>
    </div>
  </div>
  </a>
</div>

{% comment %}

<div id="{{ carousel-item-left.id }}" class="item {% if carousel-item-left.default %}active{% endif %} {% if carousel-item-left.type == 'style-b' %}style-b{% endif %} item-type-left">
  <div class="slide-visual" style="background-image: url('{{ carousel-item-left.pre-visual }}');">
    <img src="{{ carousel-item-left.visual }}" alt="Carousel item title">
  </div>
  {% if carousel-item-left.type == 'style-b' %}
  <div class="slide-product">
    <img src="{{ carousel-item-left.product }}" alt="Product title">
  </div>
  {% endif %}
  <div class="slide-message">
    <div class="slide-message-body">
      <h1 class="slide-heading">
        Default<br>phrase
        <span class="extra">
          With important<br>subtitle
        </span>
      </h1>
      <div class="slide-cta">
        <a href="/site-plans" class="button">Call to action</a>
      </div>
    </div>
  </div>
</div>

{% endcomment %}
