<a href="{{ planbox-lte.url }}" class="box ratio-box ratio-1 m-ratio-2-3">
  <div class="box-background"></div>
<!--  style="background-image: url({{ planbox-lte.visual }});"  -->
  <div class="box-content planbox plan-icon-lte">


    <h2 class="plan-title">
      {{ planbox-lte.name }}
    </h2>
    <p class="plan-subtitle">
      {{ planbox-lte.subtitle }}
    </p>
    <div class="box-footer plan-cta-container">
      <p class="plan-benefits">
        {{ planbox-lte.benefits }}
      </p>
      <div href="#" class="btn">Подробнее</div>
    </div>

  </div>
</a>
