{% model "news.json" %}
{% block content %}

<div class="gutter">
  <h1>Новости</h1>
  <div class="d1-6 s1">
    <ul class="side-navigation">
      {% for group in model.groups %}
        <li><a href="#" class="side-navigation-item">{{ group.title }} ({{ group.news-quantity }})</a></li>
      {% endfor %}
      <li><a href="#" class="side-navigation-item">Архив</a></li>
    </ul>
  </div><div class="d2-3 m5-6 s1">
    {% for group in model.groups %}
      <header class="group-header">
        <h2 class="group-title">{{ group.title }}</h2>
        <section class="group-meta">
          {{ group.news-quantity }} новости
        </section>
      </header>
      {% for post in group.news %}
        {% include "site-news-post-preview" with post %}
      {% endfor %}
    {% endfor %}
    {% include "pagination" %}
  </div>
  <nav class="mobile-side-navigation">
    <h2><a href="/site-news">Новости</a></h2>
    <ul class="side-navigation">
      {% for group in model.groups %}
        <li><a href="#" class="side-navigation-item">{{ group.title }} ({{ group.news-quantity }})</a></li>
      {% endfor %}
      <li><a href="#" class="side-navigation-item">Архив</a></li>
    </ul>
  </nav>
</div>

{% endblock %}