{% block content %}

<div class="gutter">
  <h1 class="page-title">Обратная связь</h1>
  <div class="d1-6 s1">
    <section class="side-navigation-meta">
      <a href="/site-support" class="back-button">Поддержка</a>
    </section>
    <ul class="side-navigation">
      <li><a href="/site-support-coverage" class="side-navigation-item">Зона покрытия</a></li>
      <li><a href="/site-support-service-centres" class="side-navigation-item">Сервис центры на карте</a></li>
      <li><a href="/site-support-feedback" class="side-navigation-item">Обратная связь</a></li>
      <li><a href="#" class="side-navigation-item">Онлайн консультант</a></li>
    </ul>
  </div><div class="d2-3 m5-6 s1">
    <div class="box box--common">
      <div class="box-content">
        <div class="readable">
          <h1>Настройка точки доступа в Интернет (APN)</h1>
          <p>
            Если на Ваш аппарат не пришли автоматические настройки доступа в Интернет, Вы можете настроить его вручную. Для получения инструкции выберите операционную систему Вашего телефона:
          </p>

          <ul class="acc-list text-left js-acc-list">
            <li>
              <a href="#" class="acc-list-item">
                iOS
              </a>
              <div class="acc-list-content">

                <ol>
                  <li>
                    Нажмите кнопку «Меню» и выберите пункт «Настройки»

                    {{ "iphone-1.png" | asset_url | image_tag }}

                  </li>
                  <li>
                    В открывшемся меню выберите пункт «Сотовая связь»

                    {{ "iphone-2.png" | asset_url | image_tag }}

                  </li>
                  <li>
                    Далее выберите пункт «Сотовая сеть передачи данных»

                    {{ "iphone-3.png" | asset_url | image_tag }}

                  </li>
                  <li>
                    Введите следующие параметры в блоке «Сотовые данные»:
                    <p class="callout text-center">
                        APN: <strong>Internet</strong>
                    </p>
                    {{ "iphone-4.png" | asset_url | image_tag }}
                  </li>
                  <li>
                    Настройка доступа в Интернет завершена
                  </li>
                </ol>

              </div>
            </li>
            <li>
              <a href="#" class="acc-list-item">
                Android
              </a>
              <div class="acc-list-content">
                <ol>
                  <li>
                    Нажмите кнопку «Меню» и выберите пункт «Настройки» и «Другие сети»
                    <figure>{{ "android-1.png" | asset_url | image_tag }}</figure>
                  </li>
                  <li>
                    Далее войдите в «Мобильные сети»
                    <figure>{{ "android-2.png" | asset_url | image_tag }}</figure>
                  </li>
                  <li>
                    В меню «Мобильные сети» выберите пункт «Точки доступа»
                    <figure>{{ "android-3.png" | asset_url | image_tag }}</figure>
                  </li>
                  <li>
                    Необходимо создать новую точку доступа
                    <figure>{{ "android-4.png" | asset_url | image_tag }}</figure>
                  </li>
                  <li>
                    <p>Установите следующие параметры APN:</p>
                    <div class="text-center callout">
                      <div class="d2-3 m1">
                        <div class="split">
                          <strong class="split-title">Имя: </strong>
                          Altel 4G
                        </div>
                        <div class="split">
                          <strong class="split-title">Точка доступа: </strong>
                          internet
                        </div>
                      </div>
                    </div>

                    Остальные параметры необходимо установить по умолчаню

                    <figure>{{ "android-5.png" | asset_url | image_tag }}</figure>
                  </li>
                  <li>
                    Настройка доступа в интернет завершена
                  </li>
                </ol>
              </div>
            </li>
            <li>
              <a href="#" class="acc-list-item">
                Windows Phone
              </a>
              <div class="acc-list-content">
                <ol>
                  <li>
                    Нажмите кнопку «Меню» и выберите пункт «Настройки»

                    <figure>{{ "windows-1.png" | asset_url | image_tag }}</figure>

                  </li>
                  <li>
                    Открывшееся меню прокрутите вниз и выберите пункт «Точка доступа»
                    <div>{{ "windows-2.png" | asset_url | image_tag }} {{ "windows-3.png" | asset_url | image_tag }}</div>
                  </li>
                  <li>
                    Добавьте новую точку доступа
                    <figure>{{ "windows-4.png" | asset_url | image_tag }}</figure>
                  </li>
                  <li>
                      Установите следующие параметры APN:
                      <div class="callout text-center">
                        <div class="d2-3 m1">
                          <div class="split">
                            <strong class="split-title">Имя: </strong>
                            Altel 4G
                          </div>
                          <div class="split">
                            <strong class="split-title">Точка доступа: </strong>
                            internet
                          </div>
                        </div>
                      </div>
                      Остальные параметры необходимо оставить по умолчанию.
                      <figure>{{ "windows-5.png" | asset_url | image_tag }}
                        {{ "windows-6.png" | asset_url | image_tag }}</figure>
                  </li>
                  <li>
                     Настройка доступа в Интернет завершена
                  </li>
                </ol>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
