{% model "plans.json" %}

{% block content %}

<div class="gutter">
  <h1 class="page-title">Тарифы GSM</h1>
  <div class="d1-6 m1">
    <ul class="side-navigation">
      <!-- <li class="side-navigation-group-title">Тарифы GSM</li> -->
      {% for plan in model.gsmPlans %}
        <li><a href="{{ plan.url }}" class="side-navigation-item">{{ plan.name }}</a></li>
      {% endfor %}
    </ul>
  </div><div class="d5-6 m1">
    <div class="d1">
      <a class="box ratio-box ratio-3-1 m-ratio-4-3" href="#">
        <div class="box-background"></div>
        <div class="box-content cover" style="background-image: url({{ 'eg.png' | asset_url }});"></div>
      </a>
    </div><div class="d1-2 l2-3 m1">
      <a class="box ratio-box ratio-4-3 m-ratio-4-3" href="#">
        <div class="box-background"></div>
        <div class="box-content cover" style="background-image: url({{ 'eg.png' | asset_url }});"></div>
      </a>

    </div>{% for plan in model.gsmPlans %}<div class="d1-4 l1-3 m1-2 s1">
      {% include "planbox" with plan %}
    </div>{% endfor %}
  </div>

  <nav class="mobile-side-navigation">
    <h2><a href="/site-plans">Тарифы GSM</a></h2>
    <ul class="side-navigation">
      <!-- <li class="side-navigation-group-title">Тарифы GSM</li> -->
      {% for plan in model.gsmPlans %}
        <li><a href="{{ plan.url }}" class="side-navigation-item">{{ plan.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% endblock %}
